.Main_pf
{
    background-image: linear-gradient(#282b41,#202236, #1b1b27);
    width: 10%;
    position: relative;
    top: 30px;
    border-radius: 10px;
    text-align: center;
    
    color: snow;
    height: max-content;
}
.Main_pf img
{
    position: relative;
    top: 10px;
    width: 40%;
    border-radius: 100px;
    border: 4px black solid;
    overflow-wrap: break-word;
}
.World
{
    overflow-wrap: break-word;
}
.Viewing_ot
{
    text-align: center;
    display: grid;
    grid-template-columns: 45% 45%;
}
.subscribers_join
{
    visibility: visible;
    text-align: center;
    color: snow;
    position: relative;
    top: 30px;
    background-image: linear-gradient(#282b41,#202236, #2c2c3f);
    width: 10%;
    height: 400px;
    border-radius: 10px;
}
.People_just_subscribe
{
    position: relative;
    left: 5%;
    background-color: #1b1b27;
    width: 90%;
    height: 300px;
    border-radius: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction:column;
    gap: 5%;
}
.Title
{
    color: snow;
    position: relative;
    left: 20%;
    bottom: 21px;
    width: 55%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    background-image: linear-gradient(#181a27,#0e0f18, #101018);
}

.New_subs_users
{
    background-color: #282b41;
    display: flex;
}
.New_subs_users img
{
    width: 45%;
    border-radius: 10px;
}
.View_New_subs
{
    display: none;
}
.Other_header
{
    display: none;
}
@media (max-width: 1629px) {
    .Main_form_bit
    {
        position: absolute;
        top: 100px;
    }
}
@media (max-width: 1115px) {
    .Main_header
    {
        z-index: 1;
        box-shadow: 10px 10px 10px black;
        border-radius: 0px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        text-align: center;
    }
    .Main_pf
    {
        visibility: hidden;
        width: 20%;
        position: relative;
        left: 2%;
        z-index: 1;
        box-shadow: 10px 10px 10px black, -10px -5px 10px black;
    }
    .subscribers_join
    {
        visibility: hidden;
        position: absolute;
        left: 40%;
        width: 30%;
        top: 130px;
        z-index: 1;
        height: max-content;
        box-shadow: 10px 10px 10px black, -10px -5px 10px black;
    }
    .Other_header
    {
        display: flex;
        gap: 25%;
        background-color: #2c2c3f;
        color: snow;
        z-index: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 50px;
    }
    .Other_header button
    {
        position: relative;
        left: 4%;
        top: 10px;
        border: none;
        background-color: #0e0f18;
        color: snow;
        border-radius: 10px;
        height: 30px;
        font-size: larger;
    }

    .Main_form_bit
    {
        width: 100%;
        position: relative;
        left: 0%;
        top:  -300px;
        z-index: 0;
    }
    .Form_Items
    {
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;
    }
    .Form_Items_User
    {
        display: flex;
        gap: 15%;
        position: relative;
        left: 5%;
    }
    .Title
    {
        position: relative;
        top: 0px;
    }
}
@media (max-width: 1525px) 
{
    .Viewing_ot
    {

        position: relative;
        left: 5%;
    }
}
@media (max-width: 961px) {
    .Main_pf
    {
        width: 30%;
    }
    .subscribers_join
    {
        position: absolute;
        left: 40%;
        top: 155px;
        width: 30%;
    }
    .Main_form_bit
    {
        position: absolute;
        top: 200px;
    }
    .Main_webste_footer
    {
        position: relative;
        top: 600px;
    }
}
@media (max-width:527px) {
    .Other_header
    {
        display: flex;
        flex-direction: column;
        gap: 5%;
        height: 100px;
    }
    .Other_header button
    {
        position: relative;
        left: 0%;
    }
    .subscribers_join
    {
        width: 100%;
        position: absolute;
        top: 740px;
        left: 0%;
    }
    .Main_pf
    {
        width: 100%;
        position: relative;
        left: 0%;
    }
    .Main_form_bit
    {
        position: absolute;
        top: 200px;

    }
    .Main_webste_footer
    {
        position: relative;
        top: 400px;
    }
}
