
.Main_items_for_user
{
    position: relative;
    top: 30px;
    color: snow;
    background-image: linear-gradient(#202336,#0e0f18, #12121a);
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    height: 600px;
}
.Under_div
{
    display: grid;
    grid-template-columns: 40% 35% ;
    grid-template-rows: 30% 30%;
    gap: 10%;
    background-color: #1a1c2c;
    width: 80%;
    border-radius: 10px;
    height: 550px;
    position:relative ;
    top: 20px;
    left: 10%;
    text-align: center;
}
.fuck_all_this
{
    width: 100%;
    height: max-content;
    background-color:#161725;
    border-radius: 10px;
    position: relative;
    left: 15%;
    top:40px;
    height: 190px;
}
.fuck_all_this:hover
{
    background-image: linear-gradient(-210deg, #353a58,#161725, #0d0d13);
    
    animation: Loading 1s;
    box-shadow: 10px 10px 10px black;
    border: #202336 3px solid;
    text-shadow: 10px 10px 10px black;
}
@media (max-width:835px) {
    .Under_div
    {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        width: 95%;
        position: relative;
        left: 3%;
    }
    .Under_div div
    {
        position: relative;
        left: 3%;
        width: 95%;
    }
}