.Main_Main
{
    display: flex;
    flex-direction: row;
   
    position: relative;
    top: 10px;
}
.Title
{
    position: relative;
    left: 20%;
    bottom: 20px;
    
}
.User_Status
{
    background-image: linear-gradient(#2a2d44,#1b1d2e, #101018);
    width: 10%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    box-shadow: 5px 0px 10px black;
    z-index: 1;
}
.Main_divs_are_here
{
    display: flex;
    flex-direction: column;
    
}
.div_1
{
    padding-top: 40px;
}
.User_Status img
{
    width: 50%;
    border-radius: 10px;
}
.Messages
{
    background-image: linear-gradient(#181a27,#0e0f18, #101018);
    text-align: center;
    color: snow;
    width: 100%;
    overflow-y: scroll;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.Messages_div
{
    position: relative;
    left: 3%;
}
.Main_messages
{
    background-color: #1b1d2e;
    border-radius: 5px;
    width: 95%;
    position: relative;
    left: 2.5%;
}
.Main_messages:hover,.Title:hover
{
    background-image: linear-gradient(#2a2d44,#1b1d2e, #101018);
    box-shadow: 0px 5px 10px black;
}
@keyframes Desc_The_width {
    0%
    {
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    100%
    {
        width: 30%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
}
@keyframes inc_The_width {
    0%{width: 0%;}
    100%
    {
        width: 100%;
    }
    
}
.Chating_one
{
    background-image: linear-gradient(#2a2d44,#1b1d2e, #101018);
    z-index: 1;
    box-shadow: -5px 0px 5px black;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: inline;
}
.Main_inputs
{
    background-image: linear-gradient(#181a27,#0e0f18, #191925);
    width: 100%;
    height: 70px;
    position: relative;
    top: 00px;
    right:0%;
    text-align: center;
    border-radius: 5px;
}
.Main_inputs input
{
    position: relative;
    top: 10px;
    width: 90%;
    height: 50px;
    background-color: #0e0f18;
    border: none;
    border-radius: 10px;
    color: snow;
}
.Main_inputs button
{
    position: relative;
    top: 10px;
    background-color: #1b1d2e;
    color: snow;
    border: none;
    width: 5%;
    height: 40px;
}
.The_Bot_Messages
{
    display: flex;
    gap: 10%;
    width: 35%;
    background-color:#2a2d44 ;
    height: 50px;
    color: snow;
    max-width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    left: 1%;
    top: 10px;
}
.Something
{
    position: relative;
    background-image: linear-gradient(#181a27,#0e0f18, #101018);
    height: 500px;
    width: 95%;
    left: 3%;
    border-radius: 10px;
}